
/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________________________________________*/

:root {
    /* Color pallet pulled from bg image */
--thistle: hsla(314, 28%, 78%, 1);
--wisteria: hsla(275, 33%, 69%, 1);
--champagne-pink: hsla(14, 45%, 89%, 1);
--lilac: hsla(279, 26%, 74%, 1);
--french-gray: hsla(318, 13%, 80%, 1);

/* --wisteria-dark: hsla(275, 33%, 59%, 1); */
--wisteria-dark: hsla(275, 33%, 45%, 1);
--lilac-dark: hsla(279, 26%, 60%, 1);
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: new-font, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 120px 1fr 50px;
    height: 100vh;
}

div {
    border: 1px solid gray;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    background: radial-gradient(var(--lilac-dark), var(--wisteria-dark));
}

.header h1 {
    color: var(--champagne-pink)
}

.main {
    /* background-image: url('img/bg.jpg'); */
    position: relative;

}

.main::before {
    content: "";
    background-image: url('img/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.footer {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--lilac-dark), var(--wisteria-dark));
    color: var(--champagne-pink);
}

.icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon > a > .svg{
    height: 40px;
    width: 40px;
}