
/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________________________________________*/

:root {
    /* Color pallet pulled from bg image */
--thistle: hsla(314, 28%, 78%, 1);
--wisteria: hsla(275, 33%, 69%, 1);
--champagne-pink: hsla(14, 45%, 89%, 1);
--lilac: hsla(279, 26%, 74%, 1);
--french-gray: hsla(318, 13%, 80%, 1);

/* --wisteria-dark: hsla(275, 33%, 59%, 1); */
--wisteria-dark: hsla(275, 33%, 45%, 1);
--lilac-dark: hsla(279, 26%, 60%, 1);
--champagne-pink-light: hsla(14, 45%, 95%, 1);

/* Button colors*/

--pale-green: #c2fbd7;
--medium-green: #87cca0;
--pale-red: #fbc2c2;
--medium-red: #cc8787;

}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: new-font, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 120px 80px 1fr 50px;
    height: 100vh;
    
}

/* .blurry {
    filter: brightness(50%);
} */

/* div {
    border: 1px solid gray;
} */

/*_______________Popup_______________*/


.form-popup {
    /* display: none;
    position: fixed; */
    width: 400px;
    height: 410px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    /* background: radial-gradient( var(--lilac-dark), var(--wisteria-dark)); */
    background: radial-gradient(var(--french-gray), var(--thistle)); 
    /* z-index: 9; */
    border: none;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.form-popup::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .close {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--champagne-pink);
    padding: 4px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
} */

legend {
    align-self: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.book-title > label,
.book-author > label,
.pages > label {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    border: 0;
    outline: 0;
    padding: 5px;
    background-color: var(--champagne-pink-light);
}

input[type="text"]:focus,
input[type="tel"]:focus {
    box-shadow: 2px 2px 4px var(--wisteria-dark);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.read-status {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.read-status > label {
    font-size: 1.3rem;
}

input[type="checkbox"] {
    margin-left: 10px;
}

button:hover {
    filter: contrast(150%);
}

.form-add > button {
    width: 100%;
    font-size: 1.2rem;
}



/*_______________Header_______________*/


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    background: radial-gradient(var(--lilac-dark), var(--wisteria-dark));
}

.header h1 {
    color: var(--champagne-pink)
}

.add-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px; 
    /* gap: 20px; */
    background: linear-gradient(var(--wisteria), var(--thistle), var(--wisteria));
}

button {
    width: 325px;
    padding: 10px 30px;
    background-color: var(--wisteria-dark);
    color: var(--champagne-pink-light);
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
}



/*_______________Main_______________*/

.main {
    /* background-image: url('img/bg.jpg'); */
    display: grid;
    grid-template: 1fr / 1fr 15fr 1fr;
    position: relative;
}

.card-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 300px);
    grid-auto-rows: 300px;
    gap: 50px 20px;
    padding: 50px 0px;
    justify-items: center;
}

/* .card {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 20px;
    height: 300px;
    width: 280px;
    gap: 20px;
    border-radius: 20px;
    color: var(--champagne-pink-light);
    background: linear-gradient(to bottom right,var(--wisteria-dark), var(--lilac-dark));
    box-shadow: 8px 8px 4px var(--wisteria-dark);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    position: relative;
    /* To make the book cards solid */
}

.card > div:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.remove-btn,
.read-toggle {
    width: 80%;
    background: linear-gradient(var(--wisteria), var(--french-gray), var(--wisteria));
    color: var(--wisteria-dark);
    font-weight: 700;
    padding: 7px 30px;
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--wisteria-dark);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.remove-btn:hover,
.read-toggle:hover,
.read-toggle.read:hover {
    filter: contrast(130%);
    box-shadow: 3px 3px 3px var(--wisteria-dark);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}


.read-toggle {
    background: linear-gradient(var(--medium-red), var(--pale-red), var(--medium-red));
}

.read-toggle.read {
    background: linear-gradient(var(--medium-green), var(--pale-green), var(--medium-green));
}

.main::before {
    content: "";
    background-image: url('img/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

/*_______________Footer_______________*/

.footer {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--lilac-dark), var(--wisteria-dark));
    color: var(--champagne-pink);
}

.icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon > a > .svg{
    height: 40px;
    width: 40px;
}


/*_________________***Media Queries***___________________*/


/* @media all and (max-width: 860px) and (min-width: 651px) {
    .container {
        display: grid;
        grid-template-rows: 120px 150px 1fr 50px;
    }

    legend {
        align-self: center;
        margin-bottom: 15px;
    }

    .user-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .read-status,
    .add-book {
        width: 160px;
    }
}

@media only screen and (max-width: 695px) {

} */